<h3>About us:</h3>

<p>We are a Portland, Oregon based hiking group open to members of all levels of hiking experience and athletic abilities. We organize several hikes throughout the year, please check back as we will be posting our upcoming excursions shortly.</p>

<p>Don't worry if you don't have a vehicle, you can still hike with us! We do our best to coordinate transportation between members. If you do have a vehicle, it would be appreciated if you would be willing to help transport your fellow club members. Contributions for gas money are collected at the beginning of each hike and distributed accordingly.</p>
